.main__add__produtos{
display: flex;
flex-direction: column;
width:40%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.formulario fieldset{
padding-bottom: 25px;
}
.add__produto{
    align-self: center;
    font-size:24px;
    font-weight: 400;
    font-family: "Press Start 2P", system-ui;
    line-height: 24px;
    height: 48px;
    text-align: center;
    padding-bottom: 10px;
}
.formulario fieldset input{
    padding-left: 10px; 
    width: 392px;
    height: 58px;
    border-radius: 35px;
    border: 3px solid #03318C;
    
}
.formulario fieldset input:focus {
    border: 3px solid #03318C;
    outline: none;
}
fieldset input::placeholder{
    color: #03318C;
}
.botoes{
    display: flex;
    height: 55px;
    gap: 13px;
    justify-content: space-between;
}
.botao{
    width:188px;
    border-radius: 15px;
    border: 3px solid #03318C;
    color: #03318C;
}
.enviar{
    background-color: #03318C;
    color: #fff;
}