.main__container{
    display: flex;
    justify-content: space-around;
    padding: 50px 30px 30px 0 ;
    gap: 100px;
    
}
.card__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    overflow-y: scroll;
    height: 350px;
    
}


.sectio_menu{
    display: flex;
    flex-direction: column;
    
    
   
}
.meus{
    align-self: center;
}

.card img{
    width: 174px;
    height: 176px;
    border: 3px solid #000;
}

@media(max-width: 834px) {

    body {
        height: 100vh;
    }
.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}